img.primary {
	border: 2px solid #540000;
}

div.footer {
	text-align: center;
}

h5 {
	display: inline-block;
	margin: 1%;
}

header {
	background-color: #540000;
}

footer {
	display: inline;
}

h1 {
	text-align: center;
	font-size: 50pt; 
	color: white;
	font-family: f;
}

h2 {
	text-align: center;
	color: #333;
}

u {
	color: white;
}

.btn {
	margin: 1%;
}